/*=============================
  ===== common css starts =====
===============================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
/*===========================
  ===== common css ends =====
=============================*/

/*==================================
  ===== tournaments css starts =====
====================================*/
#tournaments {
  background: #2a0a48;
  padding-top: 100px;
  padding-bottom: 100px;
}
#tournaments .tournament-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#tournaments .tournament-heading img{
  width: 100px;
}
#tournaments .tournament-heading h1 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  color: #fcb100;
  font-size: 32px;
  text-shadow: 0px 0px 50px #5a0274;
  position: relative;
  letter-spacing: 3px;
}
#tournaments .tournament-heading h1::after {
  content: '';
  width: 100%;
  height: 2px;
  background: #fcb100;
  position: absolute;
  bottom: -10px;
  left: 0;
}

#tournaments .tournament-countdown h4 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-shadow: 0px 0px 50px #5a0274;
}
/* ========================================================================================= */
#tournaments .tournament-countdown #countdown-active,
#tournaments .tournament-countdown #countdown-active2,
#tournaments .tournament-countdown #countdown-active3,
#tournaments .tournament-countdown #countdown-active4,
#tournaments .tournament-countdown #countdown-active5,
#tournaments .tournament-countdown #countdown-active6,
#tournaments .tournament-countdown #countdown-active7,
#tournaments .tournament-countdown #countdown-active8,
#tournaments .tournament-countdown #countdown-active9,
#tournaments .tournament-countdown #countdown-active10,
#tournaments .tournament-countdown #countdown-active11,
#tournaments .tournament-countdown #countdown-active12,
#tournaments .tournament-countdown #countdown-active13,
#tournaments .tournament-countdown #countdown-active14,
#tournaments .tournament-countdown #countdown-active15,
#tournaments .tournament-countdown #countdown-active16,
#tournaments .tournament-countdown #countdown-active17,
#tournaments .tournament-countdown #countdown-active18,
#tournaments .tournament-countdown #countdown-active19,
#tournaments .tournament-countdown #countdown-active20,
#tournaments .tournament-countdown #countdown-active21,
#tournaments .tournament-countdown #countdown-active22,
#tournaments .tournament-countdown #countdown-active23,
#tournaments .tournament-countdown #countdown-active24,
#tournaments .tournament-countdown #countdown-active25 {
  display: flex;
}
#tournaments .tournament-countdown #countdown-active .countdown-box,
#tournaments .tournament-countdown #countdown-active2 .countdown-box,
#tournaments .tournament-countdown #countdown-active3 .countdown-box,
#tournaments .tournament-countdown #countdown-active4 .countdown-box,
#tournaments .tournament-countdown #countdown-active5 .countdown-box,
#tournaments .tournament-countdown #countdown-active6 .countdown-box,
#tournaments .tournament-countdown #countdown-active7 .countdown-box,
#tournaments .tournament-countdown #countdown-active8 .countdown-box,
#tournaments .tournament-countdown #countdown-active9 .countdown-box,
#tournaments .tournament-countdown #countdown-active10 .countdown-box,
#tournaments .tournament-countdown #countdown-active11 .countdown-box,
#tournaments .tournament-countdown #countdown-active12 .countdown-box,
#tournaments .tournament-countdown #countdown-active13 .countdown-box,
#tournaments .tournament-countdown #countdown-active14 .countdown-box,
#tournaments .tournament-countdown #countdown-active15 .countdown-box,
#tournaments .tournament-countdown #countdown-active16 .countdown-box,
#tournaments .tournament-countdown #countdown-active17 .countdown-box,
#tournaments .tournament-countdown #countdown-active18 .countdown-box,
#tournaments .tournament-countdown #countdown-active19 .countdown-box,
#tournaments .tournament-countdown #countdown-active20 .countdown-box,
#tournaments .tournament-countdown #countdown-active21 .countdown-box,
#tournaments .tournament-countdown #countdown-active22 .countdown-box,
#tournaments .tournament-countdown #countdown-active23 .countdown-box,
#tournaments .tournament-countdown #countdown-active24 .countdown-box,
#tournaments .tournament-countdown #countdown-active25 .countdown-box {
  border: 1px solid #fcb100;
  margin-left: 20px;
  border-radius: 5px;
  height: 68px;
  width: 68px;
  text-align: center;
}
#tournaments .tournament-countdown #countdown-active h2,
#tournaments .tournament-countdown #countdown-active2 h2,
#tournaments .tournament-countdown #countdown-active3 h2,
#tournaments .tournament-countdown #countdown-active4 h2,
#tournaments .tournament-countdown #countdown-active5 h2,
#tournaments .tournament-countdown #countdown-active6 h2,
#tournaments .tournament-countdown #countdown-active7 h2,
#tournaments .tournament-countdown #countdown-active8 h2,
#tournaments .tournament-countdown #countdown-active9 h2,
#tournaments .tournament-countdown #countdown-active10 h2,
#tournaments .tournament-countdown #countdown-active11 h2,
#tournaments .tournament-countdown #countdown-active12 h2,
#tournaments .tournament-countdown #countdown-active13 h2,
#tournaments .tournament-countdown #countdown-active14 h2,
#tournaments .tournament-countdown #countdown-active15 h2,
#tournaments .tournament-countdown #countdown-active16 h2,
#tournaments .tournament-countdown #countdown-active17 h2,
#tournaments .tournament-countdown #countdown-active18 h2,
#tournaments .tournament-countdown #countdown-active19 h2,
#tournaments .tournament-countdown #countdown-active20 h2,
#tournaments .tournament-countdown #countdown-active21 h2,
#tournaments .tournament-countdown #countdown-active22 h2,
#tournaments .tournament-countdown #countdown-active23 h2, 
#tournaments .tournament-countdown #countdown-active24 h2,
#tournaments .tournament-countdown #countdown-active25 h2 {
  margin-bottom: 0px !important;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #fcb100;
  padding-top: 5px;
}
#tournaments .tournament-countdown #countdown-active span,
#tournaments .tournament-countdown #countdown-active2 span,
#tournaments .tournament-countdown #countdown-active3 span,
#tournaments .tournament-countdown #countdown-active4 span,
#tournaments .tournament-countdown #countdown-active5 span,
#tournaments .tournament-countdown #countdown-active6 span,
#tournaments .tournament-countdown #countdown-active7 span,
#tournaments .tournament-countdown #countdown-active8 span,
#tournaments .tournament-countdown #countdown-active9 span,
#tournaments .tournament-countdown #countdown-active10 span,
#tournaments .tournament-countdown #countdown-active11 span,
#tournaments .tournament-countdown #countdown-active12 span,
#tournaments .tournament-countdown #countdown-active13 span,
#tournaments .tournament-countdown #countdown-active14 span,
#tournaments .tournament-countdown #countdown-active15 span,
#tournaments .tournament-countdown #countdown-active16 span,
#tournaments .tournament-countdown #countdown-active17 span,
#tournaments .tournament-countdown #countdown-active18 span,
#tournaments .tournament-countdown #countdown-active19 span,
#tournaments .tournament-countdown #countdown-active20 span,
#tournaments .tournament-countdown #countdown-active21 span, 
#tournaments .tournament-countdown #countdown-active22 span,
#tournaments .tournament-countdown #countdown-active23 span,
#tournaments .tournament-countdown #countdown-active24 span,
#tournaments .tournament-countdown #countdown-active25 span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #fcb100;
}
/* ================================================================================== */
#tournaments .players-list .players-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
}
#tournaments .players-list .players-detail h6,
#tournaments .players-list .players-detail h5,
#tournaments .players-list .players-detail h4 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}

#tournaments .players-list .players-detail h6::after,
#tournaments .players-list .players-detail h4::after {
  content: '';
  width: 100%;
  height: 1px;
  background: #fcb100;
  position: absolute;
  bottom: -10px;
  left: 0;
}

#tournaments .players-list .players-detail p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  line-height: 50px;
  margin-bottom: 0;
}

/*================================
  ===== tournaments css ends =====
==================================*/

/*================================
  ===== copyright css starts =====
==================================*/
#copyright {
  background: #0b001b;
}
#copyright h4 {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  line-height: 16px;
  padding: 20px 0px;
  text-align: center;
  text-transform: capitalize;
}
#copyright h4 span {
  color: #fcb100;
}
/*==============================
  ===== copyright css ends =====
================================*/
/*=================================
  ===== responsive css starts =====
===================================*/
/* ===================================================== For Extra Small Device ================================================  */
@media (min-width: 320px) and (max-width: 575px) {
/*==================================
  ===== tournaments css starts =====
====================================*/
.container {
  width: 100%;
  margin: 0 auto;
}
#tournaments {
  background: #150035;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  /* width: 100%; */
}
#tournaments .tournament-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
#tournaments .tournament-heading img{
  width: 50px;
}
#tournaments .tournament-heading h1 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  color: #fcb100;
  font-size: 14px;
  text-shadow: 0px 0px 50px #5a0274;
  position: relative;
  letter-spacing: 1px;
  width: 200px;
}
#tournaments .tournament-heading h1::after {
  content: '';
  width: 100%;
  height: 2px;
  background: #fcb100;
  position: absolute;
  bottom: -10px;
  left: 0;
}

#tournaments .tournament-countdown h4 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-shadow: 0px 0px 50px #5a0274;
}
/* ========================================================================================= */
#tournaments .tournament-countdown #countdown-active,
#tournaments .tournament-countdown #countdown-active2,
#tournaments .tournament-countdown #countdown-active3,
#tournaments .tournament-countdown #countdown-active4,
#tournaments .tournament-countdown #countdown-active5,
#tournaments .tournament-countdown #countdown-active6,
#tournaments .tournament-countdown #countdown-active7,
#tournaments .tournament-countdown #countdown-active8,
#tournaments .tournament-countdown #countdown-active9,
#tournaments .tournament-countdown #countdown-active10,
#tournaments .tournament-countdown #countdown-active11,
#tournaments .tournament-countdown #countdown-active12,
#tournaments .tournament-countdown #countdown-active13,
#tournaments .tournament-countdown #countdown-active14,
#tournaments .tournament-countdown #countdown-active15,
#tournaments .tournament-countdown #countdown-active16,
#tournaments .tournament-countdown #countdown-active17,
#tournaments .tournament-countdown #countdown-active18,
#tournaments .tournament-countdown #countdown-active19,
#tournaments .tournament-countdown #countdown-active20,
#tournaments .tournament-countdown #countdown-active21,
#tournaments .tournament-countdown #countdown-active22,
#tournaments .tournament-countdown #countdown-active23,
#tournaments .tournament-countdown #countdown-active24,
#tournaments .tournament-countdown #countdown-active25 {
  display: flex;
}
#tournaments .tournament-countdown #countdown-active .countdown-box,
#tournaments .tournament-countdown #countdown-active2 .countdown-box,
#tournaments .tournament-countdown #countdown-active3 .countdown-box,
#tournaments .tournament-countdown #countdown-active4 .countdown-box,
#tournaments .tournament-countdown #countdown-active5 .countdown-box,
#tournaments .tournament-countdown #countdown-active6 .countdown-box,
#tournaments .tournament-countdown #countdown-active7 .countdown-box,
#tournaments .tournament-countdown #countdown-active8 .countdown-box,
#tournaments .tournament-countdown #countdown-active9 .countdown-box,
#tournaments .tournament-countdown #countdown-active10 .countdown-box,
#tournaments .tournament-countdown #countdown-active11 .countdown-box,
#tournaments .tournament-countdown #countdown-active12 .countdown-box,
#tournaments .tournament-countdown #countdown-active13 .countdown-box,
#tournaments .tournament-countdown #countdown-active14 .countdown-box,
#tournaments .tournament-countdown #countdown-active15 .countdown-box,
#tournaments .tournament-countdown #countdown-active16 .countdown-box,
#tournaments .tournament-countdown #countdown-active17 .countdown-box,
#tournaments .tournament-countdown #countdown-active18 .countdown-box,
#tournaments .tournament-countdown #countdown-active19 .countdown-box,
#tournaments .tournament-countdown #countdown-active20 .countdown-box,
#tournaments .tournament-countdown #countdown-active21 .countdown-box,
#tournaments .tournament-countdown #countdown-active22 .countdown-box,
#tournaments .tournament-countdown #countdown-active23 .countdown-box,
#tournaments .tournament-countdown #countdown-active24 .countdown-box,
#tournaments .tournament-countdown #countdown-active25 .countdown-box {
  border: 1px solid #fcb100;
  margin-left: 5px;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  text-align: center;
}
#tournaments .tournament-countdown #countdown-active h2,
#tournaments .tournament-countdown #countdown-active2 h2,
#tournaments .tournament-countdown #countdown-active3 h2,
#tournaments .tournament-countdown #countdown-active4 h2,
#tournaments .tournament-countdown #countdown-active5 h2,
#tournaments .tournament-countdown #countdown-active6 h2,
#tournaments .tournament-countdown #countdown-active7 h2,
#tournaments .tournament-countdown #countdown-active8 h2,
#tournaments .tournament-countdown #countdown-active9 h2,
#tournaments .tournament-countdown #countdown-active10 h2,
#tournaments .tournament-countdown #countdown-active11 h2,
#tournaments .tournament-countdown #countdown-active12 h2,
#tournaments .tournament-countdown #countdown-active13 h2,
#tournaments .tournament-countdown #countdown-active14 h2,
#tournaments .tournament-countdown #countdown-active15 h2,
#tournaments .tournament-countdown #countdown-active16 h2,
#tournaments .tournament-countdown #countdown-active17 h2,
#tournaments .tournament-countdown #countdown-active18 h2,
#tournaments .tournament-countdown #countdown-active19 h2,
#tournaments .tournament-countdown #countdown-active20 h2,
#tournaments .tournament-countdown #countdown-active21 h2,
#tournaments .tournament-countdown #countdown-active22 h2,
#tournaments .tournament-countdown #countdown-active23 h2, 
#tournaments .tournament-countdown #countdown-active24 h2,
#tournaments .tournament-countdown #countdown-active25 h2 {
  margin-bottom: 0px !important;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fcb100;
  padding-top: 5px;
}
#tournaments .tournament-countdown #countdown-active span,
#tournaments .tournament-countdown #countdown-active2 span,
#tournaments .tournament-countdown #countdown-active3 span,
#tournaments .tournament-countdown #countdown-active4 span,
#tournaments .tournament-countdown #countdown-active5 span,
#tournaments .tournament-countdown #countdown-active6 span,
#tournaments .tournament-countdown #countdown-active7 span,
#tournaments .tournament-countdown #countdown-active8 span,
#tournaments .tournament-countdown #countdown-active9 span,
#tournaments .tournament-countdown #countdown-active10 span,
#tournaments .tournament-countdown #countdown-active11 span,
#tournaments .tournament-countdown #countdown-active12 span,
#tournaments .tournament-countdown #countdown-active13 span,
#tournaments .tournament-countdown #countdown-active14 span,
#tournaments .tournament-countdown #countdown-active15 span,
#tournaments .tournament-countdown #countdown-active16 span,
#tournaments .tournament-countdown #countdown-active17 span,
#tournaments .tournament-countdown #countdown-active18 span,
#tournaments .tournament-countdown #countdown-active19 span,
#tournaments .tournament-countdown #countdown-active20 span,
#tournaments .tournament-countdown #countdown-active21 span, 
#tournaments .tournament-countdown #countdown-active22 span,
#tournaments .tournament-countdown #countdown-active23 span,
#tournaments .tournament-countdown #countdown-active24 span,
#tournaments .tournament-countdown #countdown-active25 span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fcb100;
}
/* ================================================================================== */
#tournaments .players-list .players-detail {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  margin-bottom: 30px;
  /* position: relative; */
}
#tournaments .players-list .players-detail h6,
#tournaments .players-list .players-detail h5,
#tournaments .players-list .players-detail h4 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
#tournaments .players-list .players-detail h5{
  display: none;
}
#tournaments .players-list .players-detail h6::after {
  content: '';
  width: 100%;
  height: 1px;
  background: #fcb100;
  position: absolute;
  bottom: -10px;
  left: 0;
}

#tournaments .players-list .players-detail p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  line-height: 50px;
  margin-bottom: 0;
}

/*================================
  ===== tournaments css ends =====
==================================*/

/*================================
  ===== copyright css starts =====
==================================*/
#copyright {
  background: #0b001b;
}
#copyright h4 {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  line-height: 16px;
  padding: 20px 0px;
  text-align: center;
  text-transform: capitalize;
}
#copyright h4 span {
  color: #fcb100;
}

}

/* ===== For Small Device =====  */
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  #tournaments {
    background: #150035;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    /* width: 100%; */
  }
  #tournaments .tournament-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  #tournaments .tournament-heading img{
    width: 50px;
  }
  #tournaments .tournament-heading h1 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    color: #fcb100;
    font-size: 14px;
    text-shadow: 0px 0px 50px #5a0274;
    position: relative;
    letter-spacing: 1px;
    width: 200px;
  }
  #tournaments .tournament-heading h1::after {
    content: '';
    width: 100%;
    height: 2px;
    background: #fcb100;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
  
  #tournaments .tournament-countdown h4 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-shadow: 0px 0px 50px #5a0274;
  }
  /* ========================================================================================= */
  #tournaments .tournament-countdown #countdown-active,
  #tournaments .tournament-countdown #countdown-active2,
  #tournaments .tournament-countdown #countdown-active3,
  #tournaments .tournament-countdown #countdown-active4,
  #tournaments .tournament-countdown #countdown-active5,
  #tournaments .tournament-countdown #countdown-active6,
  #tournaments .tournament-countdown #countdown-active7,
  #tournaments .tournament-countdown #countdown-active8,
  #tournaments .tournament-countdown #countdown-active9,
  #tournaments .tournament-countdown #countdown-active10,
  #tournaments .tournament-countdown #countdown-active11,
  #tournaments .tournament-countdown #countdown-active12,
  #tournaments .tournament-countdown #countdown-active13,
  #tournaments .tournament-countdown #countdown-active14,
  #tournaments .tournament-countdown #countdown-active15,
  #tournaments .tournament-countdown #countdown-active16,
  #tournaments .tournament-countdown #countdown-active17,
  #tournaments .tournament-countdown #countdown-active18,
  #tournaments .tournament-countdown #countdown-active19,
  #tournaments .tournament-countdown #countdown-active20,
  #tournaments .tournament-countdown #countdown-active21,
  #tournaments .tournament-countdown #countdown-active22,
  #tournaments .tournament-countdown #countdown-active23,
  #tournaments .tournament-countdown #countdown-active24,
  #tournaments .tournament-countdown #countdown-active25 {
    display: flex;
  }
  #tournaments .tournament-countdown #countdown-active .countdown-box,
  #tournaments .tournament-countdown #countdown-active2 .countdown-box,
  #tournaments .tournament-countdown #countdown-active3 .countdown-box,
  #tournaments .tournament-countdown #countdown-active4 .countdown-box,
  #tournaments .tournament-countdown #countdown-active5 .countdown-box,
  #tournaments .tournament-countdown #countdown-active6 .countdown-box,
  #tournaments .tournament-countdown #countdown-active7 .countdown-box,
  #tournaments .tournament-countdown #countdown-active8 .countdown-box,
  #tournaments .tournament-countdown #countdown-active9 .countdown-box,
  #tournaments .tournament-countdown #countdown-active10 .countdown-box,
  #tournaments .tournament-countdown #countdown-active11 .countdown-box,
  #tournaments .tournament-countdown #countdown-active12 .countdown-box,
  #tournaments .tournament-countdown #countdown-active13 .countdown-box,
  #tournaments .tournament-countdown #countdown-active14 .countdown-box,
  #tournaments .tournament-countdown #countdown-active15 .countdown-box,
  #tournaments .tournament-countdown #countdown-active16 .countdown-box,
  #tournaments .tournament-countdown #countdown-active17 .countdown-box,
  #tournaments .tournament-countdown #countdown-active18 .countdown-box,
  #tournaments .tournament-countdown #countdown-active19 .countdown-box,
  #tournaments .tournament-countdown #countdown-active20 .countdown-box,
  #tournaments .tournament-countdown #countdown-active21 .countdown-box,
  #tournaments .tournament-countdown #countdown-active22 .countdown-box,
  #tournaments .tournament-countdown #countdown-active23 .countdown-box,
  #tournaments .tournament-countdown #countdown-active24 .countdown-box,
  #tournaments .tournament-countdown #countdown-active25 .countdown-box {
    border: 1px solid #fcb100;
    margin-left: 5px;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    text-align: center;
  }
  #tournaments .tournament-countdown #countdown-active h2,
  #tournaments .tournament-countdown #countdown-active2 h2,
  #tournaments .tournament-countdown #countdown-active3 h2,
  #tournaments .tournament-countdown #countdown-active4 h2,
  #tournaments .tournament-countdown #countdown-active5 h2,
  #tournaments .tournament-countdown #countdown-active6 h2,
  #tournaments .tournament-countdown #countdown-active7 h2,
  #tournaments .tournament-countdown #countdown-active8 h2,
  #tournaments .tournament-countdown #countdown-active9 h2,
  #tournaments .tournament-countdown #countdown-active10 h2,
  #tournaments .tournament-countdown #countdown-active11 h2,
  #tournaments .tournament-countdown #countdown-active12 h2,
  #tournaments .tournament-countdown #countdown-active13 h2,
  #tournaments .tournament-countdown #countdown-active14 h2,
  #tournaments .tournament-countdown #countdown-active15 h2,
  #tournaments .tournament-countdown #countdown-active16 h2,
  #tournaments .tournament-countdown #countdown-active17 h2,
  #tournaments .tournament-countdown #countdown-active18 h2,
  #tournaments .tournament-countdown #countdown-active19 h2,
  #tournaments .tournament-countdown #countdown-active20 h2,
  #tournaments .tournament-countdown #countdown-active21 h2,
  #tournaments .tournament-countdown #countdown-active22 h2,
  #tournaments .tournament-countdown #countdown-active23 h2, 
  #tournaments .tournament-countdown #countdown-active24 h2,
  #tournaments .tournament-countdown #countdown-active25 h2 {
    margin-bottom: 0px !important;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fcb100;
    padding-top: 5px;
  }
  #tournaments .tournament-countdown #countdown-active span,
  #tournaments .tournament-countdown #countdown-active2 span,
  #tournaments .tournament-countdown #countdown-active3 span,
  #tournaments .tournament-countdown #countdown-active4 span,
  #tournaments .tournament-countdown #countdown-active5 span,
  #tournaments .tournament-countdown #countdown-active6 span,
  #tournaments .tournament-countdown #countdown-active7 span,
  #tournaments .tournament-countdown #countdown-active8 span,
  #tournaments .tournament-countdown #countdown-active9 span,
  #tournaments .tournament-countdown #countdown-active10 span,
  #tournaments .tournament-countdown #countdown-active11 span,
  #tournaments .tournament-countdown #countdown-active12 span,
  #tournaments .tournament-countdown #countdown-active13 span,
  #tournaments .tournament-countdown #countdown-active14 span,
  #tournaments .tournament-countdown #countdown-active15 span,
  #tournaments .tournament-countdown #countdown-active16 span,
  #tournaments .tournament-countdown #countdown-active17 span,
  #tournaments .tournament-countdown #countdown-active18 span,
  #tournaments .tournament-countdown #countdown-active19 span,
  #tournaments .tournament-countdown #countdown-active20 span,
  #tournaments .tournament-countdown #countdown-active21 span, 
  #tournaments .tournament-countdown #countdown-active22 span,
  #tournaments .tournament-countdown #countdown-active23 span,
  #tournaments .tournament-countdown #countdown-active24 span,
  #tournaments .tournament-countdown #countdown-active25 span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fcb100;
  }
  /* ================================================================================== */
  #tournaments .players-list .players-detail {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    margin-bottom: 30px;
    /* position: relative; */
  }
  #tournaments .players-list .players-detail h6,
  #tournaments .players-list .players-detail h5,
  #tournaments .players-list .players-detail h4 {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
  }
  #tournaments .players-list .players-detail h5{
    display: none;
  }
  #tournaments .players-list .players-detail h6::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #fcb100;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
  
  #tournaments .players-list .players-detail p {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: 50px;
    margin-bottom: 0;
  }
  
  /*================================
    ===== tournaments css ends =====
  ==================================*/
}

/* ===== For Medium Device =====  */
@media (min-width: 768px) and (max-width: 991px) {
  
  
}


